body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

.split {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.panel {
    width: 45%;
    min-height: 400px;
    padding: 15px;
    border-radius: 10px;
}

.sender {
    background: #1e293b;
}

.receiver {
    background: #111827;
}

.card {
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    background: #334155;
}